<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartgarbagesystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/image1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".History" />
        <activity android:name=".NewInfo" />
        <activity android:name=".PersonalInfo" />
        <activity android:name=".Intent3" />
        <!--
        <activity android:name=".Intent12"/>
        <activity android:name=".Intent11" />
        <activity android:name=".Intent10" />
        -->
        <activity
            android:name=".Intent2"
            android:theme="@style/MyMaterialTheme" />
        <activity android:name=".Intent1" />
        <activity android:name=".LoginActivity">
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="Sign up"
            android:parentActivityName=".LoginActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Smart Garbage System" />

        <service android:name=".Service.MyFirebasInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyService" />
    </application>

</manifest>